body {
  margin: 0;
  padding: 0;
  background-color: #4f979b;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  background-color: white;
  color: #1e3a8a;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(248, 245, 245);
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 img {
  width: 50px;
  height: 50px;
}

.intro {
  width: 80%;
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
}

.sections {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  padding: 20px;
}

.section {
  flex: 1;
  min-width: 250px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
}

.button {
  margin: 10px;
  padding: 12px 25px;
  background: linear-gradient(45deg, #118392, #a1e1ff);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: linear-gradient(45deg, #0d25e2, #a49ffa);
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
