body {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right, rgb(241, 141, 141), white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: black;
}

.header {
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #eb4949;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(226, 50, 50, 0.3);
  text-transform: uppercase;
}

.box {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  margin-top: 20px;
}

select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background: rgb(240, 30, 62);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
